<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
<meta charset="utf-8">
 <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<style>

@page {
        size: A4 landscape;
	margin: 0in 0.44in 0.2in 0.44in;
       
       }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>
</head>
<body>

	<br>
	<br>
    
<div class="container">
	<div class="row"><h1 style="text-align:center">REPORT</h1> </div>
	<hr>

    <table class="table table-bordered">
    <thead>
      <tr class="center">
        <th style="text-align:center">Client_Name</th>
        <th style="text-align:center">Mobile_NO</th>
        <th style="text-align:center">Treatment Service</th>
        <th style="text-align:center">Treatment By</th>
        <th style="text-align:center">Duration</th>
        <th style="text-align:center">Time In</th>
        <th style="text-align:center">Time Out</th>
        <th style="text-alighn:center">Total Time</th>
	<th style="text-align:center">Price</th>
        <th style="text-align:center">Payment MOD</th>
        <th style="text-align:center">Comments</th>
      </tr>
    </thead>
    <tbody>
      {% for g in guests %}

      <tr class="center">
        <td style="text-align:center">{{g.gname}}</td>
        <td style="text-align:center">{{g.mobile}}</td>
        <td style="text-align:center">{{g.services}}</td>
        <td style="text-align:center">{{g.treatment_by}}</td>
        <td style="text-align:center">{{g.duration}}</td>
        <td style="text-align:center">{{g.time_in}}</td>
        <td style="text-align:center">{{g.time_out}}</td>
        <td style="text-align:center">{{g.total_time}}</td>
        <td style="text-align:center">{{g.price}}</td>
	<td style="text-align:center"> {{g.payment}} </td>
        <td style="text-align:center">{{g.comments}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
	
</div>

</body>
</html>
