{% extends 'dashboard/index.html' %}
{% load static %}
{% block addcity %}

<div class="container gcn" style="background-image:url({% static 'beautyapp/images/dash.jpg' %});">
<form   action="{% url 'timein' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
            <label for="name" class="labels"> Staff Name</label>
            <select name="name" class="form-control" required>
                <option selected disabled> Select Staff..<option>
                      {% for staffs in staf %}
                <option value="{{staffs.id}}">{{ staffs.name }}</option>
                      {%endfor%}
            </select>
    </div>


    <div class="form-group">
        <label class="label" for="timein">Time In</label>
        <input type="time" name="timein" class="form-control" />

    </div>

    <div class="form-group">
        <label class="label" for="remarks">Remarks</label>
        <input type="text" name="remarks" class="form-control"/>

    </div>




    <button type="submit" class="btn btn-lg btn-primary"> ADD</button>

</form>


{% for  message in messages %}

<br>


<div  class="label" >
    {{message}}
</div>


{%endfor%}


</div>

{%endblock%}
