{% extends 'beautyapp/index1.html' %}

{% load static %}
{% block gallery1 %}

<div class="container">
  <div class="col-lg-12 servicehd">
    <h4 class="h4">Contact Us</h4>
  </div>



  <div class="row abtp cdiv">
    <div class="col-lg-1">
      <i class="fa fa-map-marker location" aria-hidden="true"></i>  </div>
      <div class="col-lg-3 ">
      <h4>HEAD OFFICE EUROPE </h4>
      <hr class="lhr">
      <p class="servicep sp"><b>The Elixir Spa</b></p>
      <p class="servicep sp" style="margin-top: -30px;"> 18 Anaxagorou, Ground Floor, Limassol- 3031, Cyprus, Europe.
    </p>
    <!-- <p> <i class="fa fa-envelope">&nbsp &nbsp &nbsp </i>theelixirspa@gmail.com</p> -->
    <p> <i class="fa fa-phone">&nbsp &nbsp &nbsp </i> 00357 99976339</p>

    </div>


    <div class="col-lg-8">
      <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.0164016979957!2d72.80164901490987!3d19.454859645009677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a9e7a32f4b3f%3A0xb16c7dae810cfcd4!2sThe%20Elixir%20SPA!5e0!3m2!1sen!2sin!4v1575956851338!5m2!1sen!2sin"  frameborder="0"
                style="border:0;width:100%;height:100%" allowfullscreen></iframe>
          </div>
    </div>

    </div>



    <div class="row abtp cdiv">
      <div class="col-lg-1">
        <i class="fa fa-map-marker location" aria-hidden="true"></i>  </div>
        <div class="col-lg-3 ">
        <h4>REGIONAL OFFICE UAE</h4>
        <hr class="lhr">
        <p class="servicep sp"><b>The Elixir Spa</b></p>

        <p class="servicep sp" style="margin-top: -30px;"> 43-44 Al Fahidi Souq,Bur Dubai, Dubai U.A.E
      </p>
      <!-- <p> <i class="fa fa-envelope">&nbsp &nbsp &nbsp </i>theelixirspa@gmail.com</p> -->
      <!-- <p> <i class="fa fa-phone">&nbsp &nbsp &nbsp </i> 00357 99976339</p> -->

      </div>


      <div class="col-lg-8">
        <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.0164016979957!2d72.80164901490987!3d19.454859645009677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a9e7a32f4b3f%3A0xb16c7dae810cfcd4!2sThe%20Elixir%20SPA!5e0!3m2!1sen!2sin!4v1575956851338!5m2!1sen!2sin"  frameborder="0"
                  style="border:0;width:100%;height:100%" allowfullscreen></iframe>
            </div>
      </div>

      </div>




<div class="row abtp cdiv">
<div class="col-lg-1">
  <i class="fa fa-map-marker location" aria-hidden="true"></i>  </div>
  <div class="col-lg-3 ">
	  <h4>  BRANCH INDIA -  WEST VIRAR</H4>
  <hr class="lhr">
  <p class="servicep sp"><b>The Elixir Spa</b></p>

  <p class="servicep sp" style="margin-top: -30px;"> A/001, Kusum Vihar Green Park, Viva College Rd, Near Banjara Hotel, Virar West, Maharashtra 401303.
</p>
<p> <i class="fa fa-envelope">&nbsp &nbsp &nbsp </i>theelixirspa@gmail.com</p>
<p> <i class="fa fa-phone">&nbsp &nbsp &nbsp </i>+91 7507862625</p>

</div>


<div class="col-lg-8">
  <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.0164016979957!2d72.80164901490987!3d19.454859645009677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a9e7a32f4b3f%3A0xb16c7dae810cfcd4!2sThe%20Elixir%20SPA!5e0!3m2!1sen!2sin!4v1575956851338!5m2!1sen!2sin"  frameborder="0"
            style="border:0;width:100%;height:100%" allowfullscreen></iframe>
      </div>C
</div>

</div>
<div class="row abtp cdiv">
<div class="col-lg-1">
  <i class="fa fa-map-marker location" aria-hidden="true"></i>  </div>
  <div class="col-lg-3 ">
  <h4>  BRANCH INDIA -  WEST VASAI </h4>
  <hr class="lhr">
  <p class="servicep sp"><b>The Elixir Spa</b></p>

  <p class="servicep sp" style="margin-top: -30px;"> 1st & 2nd Floor, 102 /B, Vinayak Building, Navghar Road, Vasai West, Palghar - 401202, Opposite SBI Bank.
  </p>
    <p> <i class="fa fa-envelope">&nbsp &nbsp &nbsp </i>theelixirspa@gmail.com</p>
    <p> <i class="fa fa-phone">&nbsp &nbsp &nbsp </i>+91 7507862625</p>

</div>



<div class="col-lg-8">
  <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.345516677619!2d72.85470671490829!3d19.31080764956776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b19257b8f04d%3A0x3d82c2d9003b68f9!2sElixir%20Thai%20SPA!5e0!3m2!1sen!2sin!4v1575956251866!5m2!1sen!2sin"  frameborder="0"
      style="border:0;width:100%;height:100%" allowfullscreen></iframe>
      </div>
</div>



</div>

<div class="row abtp cdiv">
<div class="col-lg-1">
  <i class="fa fa-map-marker location" aria-hidden="true"></i>  </div>
  <div class="col-lg-3 ">
  <h4>  BRANCH INDIA - NASIK </h4>
  <hr class="lhr">
  <p class="servicep sp"><b>The Elixir Spa</b></p>

  <p class="servicep sp" style="margin-top: -30px;">Shop No 21/22/37 Regimental Plaza, Inside of Hotel Sai Jagat, Bitco Chowk, Nashik Road - 422101
  </p>
    <p> <i class="fa fa-envelope">&nbsp </i>theelixirspanashikroad@gmail.com</p>
    <p> <i class="fa fa-phone">&nbsp &nbsp &nbsp </i>+91 9860122186</p>
    <p> <i class="fa fa-phone">&nbsp &nbsp &nbsp </i>+91 9529887027</p>


</div>



<div class="col-lg-8">
  <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.345516677619!2d72.85470671490829!3d19.31080764956776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b19257b8f04d%3A0x3d82c2d9003b68f9!2sElixir%20Thai%20SPA!5e0!3m2!1sen!2sin!4v1575956251866!5m2!1sen!2sin"  frameborder="0"
      style="border:0;width:100%;height:100%" allowfullscreen></iframe>
      </div>
</div>



</div>
</div>



{%endblock%}
