
{% extends 'beautyapp/indexs.html' %}
{% load static %}
{% block appointment %}

<div class="container rcn">


      <div class="row">
        <h3 class="text-center h3">FRANCHISEE<i class="fa fa-calendar-check"></i></h3>
      </div>
      <hr class="servicehd1">

<form action="{% url 'franchisee' %}" method="post">
  {% csrf_token %}
  <input type="text" name="name" placeholder="Enter Your Name" class="form-control"><br>
  <input type="email" name="email" placeholder="Email" class="form-control"><br>
  <input type="text" name="mobileno" placeholder="Mobile No" class="form-control"><br>
  <input type="text" name="location" placeholder="Location" class="form-control"><br>
  <textarea name="subject" rows="8" cols="80" placeholder="Subject" style="width:100%" class="form-control"></textarea><

  <input type="submit" name ="submit" class="btn btn-success" style="width:100%;margin-bottom: -10px;">
</form>



</div>







{%endblock%}
